/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   /* start global classes */

  .flex {
    display: flex;
  }

  .flexCenter {
    align-items: center;
    align-content: center;
  }

  .spaceAround {
    justify-content: space-around;
  }

  .spaceBetween {
    justify-content: space-between;
  }

  .blocCenter {
    justify-content: center;
  }

  .icon {
    width: 50px;
    height: 36px;
  }

  .tCenter {
    text-align: center;
  }

  .tJustify {
    text-align: justify;
  }

  .seconColor {
    color: #61D095;
  }

  .color, h3, h4 {
    color: white;
  }

  .welcome {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   /* end global classes */



   /* start common rules */

  a:hover {
    color:black;
    text-decoration: underline;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
  }

  ul, li, nav {
    list-style-type: none;
  }

  p {
    padding: .5em;
    text-align: center;
    font-size: 1em;
  }

  h1 {
    font-family: 'Kaushan Script', cursive;
    color: #357A5E;
    text-align: center;
    font-size: 3em;
  }

  h2, h3, h4 {
    background-color: #357A5E;
    font-family: 'Krona One', sans-serif;
    padding: .2em;
  }

  h4 {
    font-size: .8em;
  }

  strong {
    font-size: 1.5em;
  }

   /*End common rules*/



   /* Start Header style*/

   header {
     background-color: #61D095;
   }


   input {
     width: 150px;
   }

   /*End header style*/



   /* Start footer style*/

   footer {
     padding: .5em;
     background-color: #61D095;
   }



   /*End footer style*/



   /* Start index main style*/

   article {
     margin: .5em;
     padding: .5em;
   }

   article {
     border: 1px solid gray;
   }

   article:hover {
     box-shadow: 3px 3px 15px gray;
   }


   /*End index main style*/



   /* Start contact main style*/


   /*End contact main style*/




   /* <------- responsive 320 ------------> */

    @media all and (min-width: 320px) {
      ul, .logo, video {
        display: none;
      }

      header {
        padding: .5em;
      }

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      nav aside {
        width: 30%;
        height: 10vh;
      }

      input {
        width: 100px;
      }

      .img {
        width: 95%;
        height: 95%;
      }

      footer section {
        justify-content: center;
      }

    }

   /* <------- responsive 640 ------------> */

    @media all and (min-width: 640px) {
      ul, .logo, video {
        display: block;
      }

      button {
        display: none;
      }

      nav {
        width: 70%;
        justify-content: space-around;
        align-items: center;
      }

      main aside {
        width: 40%;
      }

      video {
        width: 600px;
        height: 460px;
      }

      li {
        margin: .5em;
      }

    }


    /* <------- responsive 1280 ------------> */

    @media all and (min-width: 1280px) {
      article, header aside {
        width: 30%;
      }

      video {
        width: 800px;
        height: 660px;
      }

      #RegularArticle, ul {
        display: flex;
      }

      img {
        width: 30%;
      }

      main {
        height: 205vh;
      }

      .icon {
        width: 30px;
        height: 30px;
      }

    }


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
